<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- @required 기능 선언 -->
<!--bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/-->
<!-- @Autowired -->
<!--bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/-->

<!-- 여러개의 클래스(@Annotation)을 한번에 자동 스케닝(생성) 해주는
	context를 선언한다.
	@Required, @Autowired, @Qualifier, @Resource, @PostConstructor
	@PreDesstory, @Configuration들을 자동 스케닝 해준다. -->
<context:annotation-config/>


<!-- 객체생성 -->
<bean class="sample09.EmpDTO" id="emp1">
<property name="empno" value="100"/>
<qualifier value="aa"/>
</bean>

<bean class="sample09.EmpDTO" id="dto">
<property name="empno" value="200"/>
</bean>

<bean class="sample09.EmpController" id="controller"/>

<bean class="sample09.EmpService" id="service"/>

<bean class="sample09.ResourceBean" id="bean"/>

</beans>
